@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

.nav_logo {
    width: auto;
    max-height: 50px;
    padding-top: 6px;
    padding-left: 11px;
    float: left;
}

#nav_search {
    width: 61%;
    float: left;
    margin-left: 154px;
    margin-top: 11px;
    padding: 6px;
}

.nav_btn {
    font-size: 14px;
    width: 67px;
    height: 27px;
    float: left;
    top: 8px;
    margin-left: 19px;
    transform: translate(8px, 9px);
    background-color: #8c181b;
    border-radius: 18%;
    color: #fbfbfd;
    text-align: center;
    padding-top: 10px;
}

.style_btn {
    color: #fff;
    text-decoration: none;
}


/* Put the photo in the div(class="hero") and remove the top black part */

.hero {
    height: 330px;
    background-image: url("../Img/keyboard.jpg");
    background-position: bottom;
    background-size: cover;
    position: relative;
}


/* Put the texts and photo on the photo */

.fswd_topic {
    color: #ffffff;
    position: absolute;
    bottom: 101px;
    left: 273px;
}

.WebDev {
    bottom: 74px;
}

#devices_img {
    width: 101px;
    position: absolute;
    bottom: 23px;
    left: 273px;
}

.content {
    height: 355px;
    background-color: #1a1818;
    position: relative;
    text-align: center;
}

hr {
    background-color: #1a1818;
    border: 0.1px solid;
}

.technology {
    position: absolute;
    color: #ffffff;
    font-size: 46px;
    top: 50px;
    left: 47%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 3px 2px #969595;
}

.box_container {
    width: 100%;
    display: inline-block;
    padding-left: 161px;
}

.blue_box {
    width: 307px;
    height: 192px;
    background-color: #235a8d;
    float: left;
    margin-top: 100px;
    border: 1px solid black;
    margin-right: 19px;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
}

ul {
    list-style-type: none;
    padding-top: 10px;
}

.blue_box>h3 {
    font-size: 20px;
    padding: 10px 20px;
}

.blue_box hr {
    width: 230px;
    margin-left: 38px;
    color: #fff;
}

.btn_click {
    padding: 4px;
    position: absolute;
    bottom: -5px;
    left: 155px;
    transform: translate(-50%, -50%);
    width: 117px;
}

.footer {
    height: 160px;
    background-color: #000000;
    padding-top: 13px;
}

.logo_footer {
    padding-top: 3px;
    padding-left: 42%;
}

.copyright {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding-left: 41%;
    padding-top: 5px;
}

#rights {
    padding-top: 8px;
    padding-left: 40px;
    padding-bottom: 10px;
}

#footer_login {
    color: #fff;
    margin-top: 10px;
    padding-left: 60px;
    text-decoration: none;
}